body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #9d9d9d;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*p.Plaats {
    height: 35px;
    width: 35px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background: #ff0707;
    color: white;
    font-weight: bold;
}*/

p.Plaats {
    text-align: center;
}

p.Jaar{
    font-style: italic;
}

.table {
    background-color: #f4f4f4;
}

    .table tr th {
        background-color: #E8E8E8;
        color: #454E59;
        border-top: 0px solid !important;
    }

    .table tr td {
        background-color: #f4f4f4;
        color: #454E59;
        border-top: 1px solid #808080 !important;
    }


td.Plaats {
    background-color: #E8E8E8 !important;
    font-size: 28px;
    font-weight: bold;
}

input.zoeken {
    border: 1px solid #CB272E !important;
    color: #CB272E;
    padding: 5px;
    width: 100%;
    overflow: hidden;
    float: right;
}

    input.zoeken::placeholder {
        color: #CB272E;
    }
div.lijsttop {
    background: #363b47;
    color: #fff;
    padding: 13px;
    height: 120px;
}
img.logo-button {
    padding: 5px;
    width: 96px;
    height: 60px;
}

.selectJaar {
    color: #363B47;
    float: right;
    margin: 5px;
}

.lijstfoto {
    width: 50px;
    height: 50px;
}

.tablepositie tr, th {
    padding: 5px;
    text-align: center;
}