@model Top_2000_mvc.Models.ExternalLoginListViewModel
@using Microsoft.Owin.Security

<h4>Test account beheerder:</h4>
<hr />

<div>
    <p>
        Gebruikersnaam: TestBeheerder
        <br />Wachtwoord: Top2000! <br /><br />
    </p>
</div>
<h4>Test account gebruiker:</h4>
<hr />

<div>
    <p>
        Gebruikersnaam: TestGebruiker
        <br />Wachtwoord: Top2000!
    </p>
</div>
